<class-controller-directive element='body' classes='front' />
<class-controller-directive element='footer' classes='front' />
<header class="front">
    <h1>Cellarix</h1>
</header>
<main class="front">
    <section>
        <div class="intro-message">
            <p>הזן את המספר הסלולרי שלך ונשלח לך במייל את התהליך המאובטח שלנו לאיזכור הסיסמא</p>
        </div>
        <div ng-form name="resetPasswordForm">
            <cellphone-field-directive form-name="resetPasswordForm" cellphone-field="reset.CellphoneNumber" tab-index="1" is-large="false" />
            <!--captcha-->
            <div class="cap-cha" style="display:none;"></div>
            <cellarix-errors-directive />
            <fieldset class="form-button form-group">
                <button enable-kb-click tabindex="2" ng-disabled="resetPasswordForm.$invalid || resetPasswordRequestInProgress" ng-click="resetPassword()"><i ng-show="resetPasswordRequestInProgress" class="fa fa-spinner fa-spin fa-fw"></i>שלחו לי לינק לסיסמא</button>
            </fieldset>
            <a tabindex="3" ui-sref="main.login">כניסה למערכת</a>
            <fieldset class="form-button form-group">
                <button enable-kb-click tabindex="3" ui-sref="main.registration.step1">משתמש חדש? נעים מאוד</button>
            </fieldset>
        </div>
    </section>
</main>
